.home {
    background-color: white;
}

.home h1 {
    text-align: center;
    color: #333;
    font-family: Lobster, cursive;
    font-size: 120px;
    padding-left: 10px;
}

.home .home-text h3 {
    color: darkcyan;
    /* padding-left: 10px; */
    margin-top: -35px;
    margin-bottom: 40px;
    /* text-align: left; */
    padding-top: 20px;
}

.home .main-img {
    width: 100%;
    max-height: 1000px;
}

.home .home-text {
    position: absolute;
    top: 320px;
    left: 50%;
    background-color: #ffffffd2;
    padding: 20px;
    border-radius: 6px;
}

.home .section-2 {
    display: flex;
    height: 600px;
    justify-content: space-evenly;
    margin: 10px;

}

.home .section-2 .info {
    background-image: url('/public/images/bcman.jpg');
    width: 950px;
    height: 600px;
    margin-right: 5px;
}

.home .section-2 .for-her{
    background-image: url('/public/images/bcwoman.jpg');
    width: 950px;
    height: 600px;
    margin-left: 5px;
}

.home .section-2 .info h3 {
    color: white;
    font-weight: 400;
    font-size: 42px;
    padding-top: 40px;
}

.home .section-2 .for-her h3{
    color: white;
    font-weight: 400;
    font-size: 42px;
    padding-top: 40px;
}

.home .section-2 .for-him-text{
    position: absolute;
    bottom: -275px;
    left: 40px;
}

.home .section-2 .for-her-text{
    position: absolute;
    bottom: -275px;
    left: 990px;
}


.home .relative {
    position: relative;
}

.home .relative img{
    height: 800px;
}

.home .over-img {
    position: absolute;
    background-color: #ffffff7b;
    border-radius: 6px;
    width: 500px;
    padding: 30px 20px;
    top: 400px;
    left: 725px;
}

/* Slide Show CSS */

.each-slide-effect>div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100% 800px;
    height: 600px;

}

.each-slide-effect span {
    position: fixed;
    bottom: 20px;
    padding: 20px;
    font-size: 40px;
    background: #efefef;
    text-align: center;
}
