.card{
    width: 251px;
    margin: 12px;
    display: inline-block;
    
}

.card-body{ 
    display: flex;
    flex-direction: column;
    padding-top: 0;
}

.card img{
    width: 250px;
}

.card label{
    padding-bottom: 10px;
}